node_modules
.nuxt
.output
.data
.nitro
dist
.cache
.temp

.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage
.eslintcache

.DS_Store
Thumbs.db

.vscode
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.idea

.trae
!.trae/
!.trae/documents/
!.trae/documents/**
